* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image1 {
  background-image: url(box1.jpg);
  width: 100%;
  height: 200px;
}

.image2 {
  background-image: url(box2.jpg);
  width: 100%;
  height: 200px;
}

.image3 {
  background-image: url(box3.jpg);
  width: 100%;
  height: 200px;
}

.image4 {
  background-image: url(box4.jpg);
  width: 100%;
  height: 200px;
}
